h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}

.clear { 
    clear: both;
}

.footer .connect li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.details table {
    margin-top: 25px;
}
.details th {
    font-weight: bold;
    padding-right: 15px;
    text-align: left;
}
.details td {
    padding: 10px;
}
.content {
    margin: 20px 0;
}
.content .picture {
    float: left;
    padding-right: 5px;
}
.content .video,
.content .note,
.content .petition,
.content .news {
    margin-bottom: 5px;
    padding: 10px;
}
.content .odd {
    background: beige;
}
.content .even {
    background-color: #B1DAFB;
}

.content .title,
.content .text,
.content .video .embed {
    margin-bottom: 10px;
}
.content .meta,
.content .video .embed {
    font-size: 10px;
}

.content .meta .added-by,
.content .meta .added-on {
    font-weight: bold;
}

.content.meals {
}
.content.meals .button {
    height: 32px;
    width: 32px;
    margin-top: 115px;
}
.content.meals .previous {
    background: url('/media/images/br_prev.png') no-repeat;
    float: left;
}
.content.meals .next {
    background: url('/media/images/br_next.png') no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}
.content .meal {
    float: left;
    padding: 10px;
}
.content .meal .image-wrapper {
    height: 220px;
}

.section {
    margin-top: 25px;
}

.nutrition table {
    background-color: white;
    border: 2px solid black;
    width: 200px;
}
.nutrition table th,
.nutrition table td {
    padding: 5px;
    text-align: left;
}
.nutrition table tr {
    border-top: 1px solid black;
}
.nutrition table th {
    font-weight: bold;
}

table.month {
    width: 100%;
}
table.month th {
    font-weight: bold;
}
table.month tr {
}
table.month td {
    border: 1px solid black;
    font-size: 12px;
}
table.month .day-number {
    display: block;
    width: 100%;
}
.calendar-head .next {
    float: right;
}
.calendar-head .previous {
    float: left;
}

.olPopupContent h2 {
    font-size: 18px;
}
.olPopupContent .participation {
    font-size: 10px;
}
.olControlZoomPanel {
    top: 10px !important;
    left: 10px !important;
}
.olControlAttribution {
    bottom: 2px !important;
    left: 2px !important;
    padding: 3px;
    background: lightGray;
}

.rate-wrapper {
}
.rate .rating {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 2px;
}
.rate .rating.full {
    background: url('/media/images/star_fav.png');
}
.rate .rating.empty {
    background: url('/media/images/star_fav_empty.png');
}
