settings.py
*.pyc
.*.sw*
.svn

reports
logs
school_food_site/media/cache
school_food_site/media/cache/*
school_food_site/media/pictures
school_food_site/media/pictures/*
school_food_site/media/ckeditor_uploads
