{% extends "food/base.html" %}
{% load comments glossary_tags ingredients thumbnail %}

{% block title %}{{ dish.name }}{% endblock %}
{% block header_title %}{{ dish.name }}{% endblock %}
{% block page_id %}food-details-page{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script>
    {% if not is_mobile %}
    $(document).ready(function() {
        $('.photos-list').jcarousel({
            scroll: 1,
            itemFallbackDimension: 170,
        });
    });
    {% endif %}
</script>
{% endblock %}

{% block content %}
<div id="dish-detail">
<h1>{{ dish.name }}</h1>
{% if not is_mobile %}
<div>
    <a href="{% url food_dish_update slug=dish.slug %}" data-role="button">
        Edit this dish <img src="{{ MEDIA_URL }}images/doc_edit.png" />
    </a>
</div>
{% endif %}

<div>
    This dish is served in 
    {% if dish.school_type == 'elementary' %}
    public elementary schools,
    {% elif dish.school_type == 'wits' %}
    public elementary schools that work with Wellness in the Schools,
    {% endif %}
    and it appears in <span style="font-weight: bold;">{{ dish.meal_set.all|length }}</span> out of the <span style="font-weight: bold;">{{ meal_count }}</span> meals on record. <a href="{% url food_meals_list dish_slug=dish.slug %}">View these meals.</a>
</div>

<div class="section" data-role="collapsible">
    {% if is_mobile %}
    <h2>Nutrition</h2>
    {% endif %}

    <div class="nutrition section">
        <table>
            <tr><th colspan="3">Nutrition Facts</th></tr>
            <tr class="labels">
                <td></td>
                <td>amount</td>
                <td>% daily value</td>
            </tr>
            {% for nutritionfact in dish.nutritionfact_set.all %}
            <tr class="nutrition-fact">
                <td class="nutrient">{{ nutritionfact.nutrient.name }}</td>
                <td class="amount number">
                    {{ nutritionfact.amount|default:"" }}
                    {% if nutritionfact.amount_unit and nutritionfact.nutrient.name != "calories" %}
                    {{ nutritionfact.amount_unit }}
                    {% endif %}
                </td>
                <td class="percent-daily-value number">
                    {{ nutritionfact.percent_daily_value|default:"" }}%
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="3">We don't know yet.</td></tr>
            {% endfor %}
        </table>
    </div>

    {% if dish.callouts.count > 0 %}
    <div class="callouts section">
        <ul>
            {% for callout in dish.callouts.all %}
            <li>
            {% if callout.glossary_entry %}
                {% if is_mobile %}
                <a href="{% url glossary_entry_detail slug=callout.glossary_entry.slug %}">
                {% else %}
                <a href="{% url glossary_list %}#{{ callout.glossary_entry.slug }}">
                {% endif %}
            {% endif %}
                {% if callout.icon %}
                {% thumbnail callout.icon "150x150" format="PNG" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ callout.name }}" title="{{ callout.name}}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                {% endthumbnail %}
                {% else %}
                {{ callout.name }}
                {% endif %}
            {% if callout.glossary_entry %}
            </a>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="clear"></div>
</div>

<div class="photos">
    {% if dish.pictures.count > 0 %}
    <ul class="photos-list jcarousel-skin-photos">
        {% for picture in dish.pictures.all %}
        <li>
            {% if not is_mobile %}
                {% thumbnail picture.picture "600x600" as full %}
                <a title="{{ picture.description }}" href="{{ full.url }}" rel="external" class="img-gallery">
                    {% thumbnail picture.picture "100x100" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                    {% endthumbnail %}
                </a>           
                {% endthumbnail %}
            {% else %}
                {% thumbnail picture.picture "200x200" crop="center" upscale="False" as thumb %}
                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                {% endthumbnail %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <p>
        <a href="{% url food_dish_add_picture slug=dish.slug %}" class="add-link" data-role="button" data-icon="plus">{% if not is_mobile %}<span class="icon"></span>{% endif %}<span class="text">add a picture</span></a>
    </p>
</div>

<div class="section" data-role="collapsible">
    <h2>Ingredients</h2>
    {% if not is_mobile %}
    {{ dish|ingredient_list|add_glossary_links }}
    {% else %}
    {{ dish|ingredient_list|add_glossary_links:"direct" }}
    {% endif %}
</div>

<div class="comments section" data-role="collapsible">
    <h2>
        {% if not is_mobile %}
        <a name="comments">Comments</a>
        {% else %}
        Comments
        {% endif %}
    </h2>
    {% if user.is_authenticated %}
    {% render_comment_form for dish %}
    {% else %}
    Please <a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">log in</a> to comment on this dish.
    {% endif %}

    {% get_comment_count for dish as comment_count %}
    There {% if comment_count == 1 %}is{% else %}are{% endif %} {{ comment_count }} comment{{ comment_count|pluralize }} on this dish.
    {% render_comment_list for dish %}
</div>

{% if aliases %}
<div class="section" data-role="collapsible">
    <h2>Aliases</h2>
    <p>This dish also shows up on menus as:
        <ul>
            {% for alias in aliases %}
            <li>{{ alias.text }}</li>
            {% endfor %}
        </ul>
    </p>
</div>
{% endif %}

</div>
{% endblock %}
