{% extends "food/base.html" %}
{% load comments glossary_tags ingredients thumbnail %}

{% block title %}{{ dish.name }}{% endblock %}
{% block header_title %}{{ dish.name }}{% endblock %}
{% block page_id %}food-details-page{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script>
    {% if not is_mobile %}
    $(document).ready(function() {
        $('.photos-list').jcarousel({
            scroll: 1,
            itemFallbackDimension: 170,
        });
    });
    {% endif %}
</script>
{% endblock %}

{% block content %}
<div id="dish-detail">
<h1>{{ dish.name }}</h1>
{% if perms.food.change_dish and not is_mobile %}
<div>
    <a href="{% url food_dish_update slug=dish.slug %}" data-role="button" class="edit-link">
        <span class="icon"></span><span class="text">edit this dish</span>
    </a>
</div>
{% endif %}

<div>
    This dish is served in 
    {% if dish.school_type == 'elementary' %}
    public elementary schools,
    {% elif dish.school_type == 'wits' %}
    public elementary schools that work with Wellness in the Schools,
    {% endif %}
    and it appears in <span style="font-weight: bold;">{{ dish.meal_set.all|length }}</span> out of the <span style="font-weight: bold;">{{ meal_count }}</span> meals on record. <a href="{% url food_meals_list dish_slug=dish.slug %}">View these meals.</a>
</div>

{% if is_mobile %}
    {% include "food/dish_detail_photos_snippet.html" %}
    {% include "food/dish_detail_nutrition_snippet.html" %}
{% else %}
    {% include "food/dish_detail_nutrition_snippet.html" %}
    {% include "food/dish_detail_photos_snippet.html" %}
{% endif %}

{% include "food/dish_detail_ingredients_snippet.html" %}
{% include "food/dish_detail_aliases_snippet.html" %}
{% include "food/dish_detail_comments_snippet.html" %}

</div>
{% endblock %}
