{% extends "food/base.html" %}
{% load thumbnail %}

{% block title %}{{ block.super }}{{ object.name }}{% endblock %}
{% block header_title %}{{ object.name }}{% endblock %}
{% block page_id %}food-details-page{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>

<div class="photos" style="float: right;">
    {% for picture in dish.pictures.all %}
        {% thumbnail picture.picture "600x600" as full %}
        <a title="{{ picture.description }}" href="{{ full.url }}" rel="external" class="img-gallery">
            {% thumbnail picture.picture "150x150" as thumb %}
            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
            {% endthumbnail %}
        </a>           
        {% endthumbnail %}
    {% endfor %}
    <a href="{% url food_dish_add_picture slug=object.slug %}">
        <img src="{{ MEDIA_URL }}images/round_plus.png" />
    </a>
</div>

<div class="nutrition section">
    <table>
        <tr><th colspan="2">Nutrition Facts</th></tr>
        {% for nutritionfact in object.nutritionfact_set.all %}
        <tr class="nutrition-fact">
            <td class="nutrient">{{ nutritionfact.nutrient.name }}</td>
            <td class="amount">{{ nutritionfact.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>calories</td>
            <td>340</td>
        </tr>
        <tr>
            <td>sodium</td>
            <td>570 mg</td>
        </tr>
        <tr>
            <td>total fat</td>
            <td>14 g</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="section">
    <h2>Ingredients</h2>
    {% for ingredient in object.ingredients.all %}
    {{ ingredient }}{% if not forloop.last %}, {% endif %}
    {% empty %}
    We don't know yet.
    {% endfor %}
</div>

<div class="section">
    <h2>Production</h2>
    <div>Where is {{ object.name }} made? How does it get to the school cafeteria?</div>
</div>

<div class="section">
    <h2>Pictures</h2>
    {% if object.name == 'chicken tenders' %}
    <div><img src="{{ MEDIA_URL }}images/school_chicken.jpg" /></div>
    {% else %}
    <div>Pictures of {{ object.name }} in the wild.</div>
    {% endif %}
</div>

<div class="section">
    <h2>More information</h2>
    <div>Where can I find more information about {{ object.name }}?</div>
</div>
{% endblock %}
