<h1>{{ day }}</h1>
<h2>{{ school_type }} school menu</h2>
<div class="menu-day">
    {% if object_list %}
    <ul>
        {% for meal in object_list %}
        <li class="school-type">
            {% if has_multiple_school_types %}
            <span>{{ meal.get_school_type_display }}</span>
            {% endif %}
            <ul data-role="listview" data-inset="true">
                {% for dish in meal.dishes.all %}
                <li>
                    <a href="{{ dish.get_absolute_url }}?date={{ meal.date|date:"Y-m-d" }}">
                        {{ dish.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    We couldn't find a menu for this day. If it's not a holiday or weekend, this means we are missing data. Please let us know by emailing <a href="mailto:admin@lunchlinenyc.org">admin@lunchlinenyc.org</a>.
    {% endif %}
</div>
