{% load menu_calendar %}

<h1>
    menu for {{ school_types_display }} schools
</h1>
<div>
    <div class="filters">
        {% if not is_mobile %}
        <input type="checkbox" id="elementary_alternative" name="elementary_alternative" 
            {% if "elementary_alternative" in school_type %}checked="checked"{% endif %}
        />
        <label for="elementary_alternative">show alternative elementary lunch menu, too</label>
        {% else %}
        <a href="{% url food_menu_month_pick_school_type year=month|date:"Y" month=month|date:"m" %}" data-rel="dialog" data-role="button">change school type</a>
        {% endif %}
    </div>
    <div class="calendar-head">
        <a class="previous" href="{% url food_menu_month school_type=school_type year=previous_month|date:"Y" month=previous_month|date:"m" %}" data-role="button" data-icon="arrow-l" data-mini="true">previous</a>
        <a class="next" href="{% url food_menu_month school_type=school_type year=next_month|date:"Y" month=next_month|date:"m" %}" data-role="button" data-icon="arrow-r" data-mini="true" data-iconpos="right">next</a>
        <div class="clear"></div>
    </div>
    {% with y=month|date:"Y" m=month|date:"m" %}
    {% if not is_mobile %}
        {% if not has_multiple_school_types %}
        {% menu_calendar y m meal_list %}
        {% else %}
        {% menu_calendar y m meal_list True True %}
        {% endif %}
    {% else %}
        {% menu_calendar y m meal_list False %}
    {% endif %}
    {% endwith %}
</div>
