{% extends "food/base.html" %}

{% block title %}
{% if is_mobile %}
Menu for {{ month|date:"N Y" }}
{% else %}
{{ school_type }} school menu for {{ month|date:"F Y" }}
{% endif %}
{% endblock %}

{% block header_title %}{{ month|date:"N Y" }}{% endblock %}
{% block page_id %}menu-page{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script>
$(document).ready(function() {
    $(':input[name="wits"]').change(function() {
        var school_types = '{{ school_type }}';
        var original_school_types = school_types;
        var path = '{{ request.path }}';
        if ($(this).is(':checked')) {
            school_types += ',wits';
        }
        else {
            school_types = school_types.replace(',wits', '');
            //  or have a list of school types and just join them
        }
        window.location = path.replace(original_school_types, school_types);
    });
});
</script>
{% endblock %}

{% block content %}
{% include "food/meal_archive_month_content.html" %}
{% endblock %}
