<h1>{{ school_type }} school menu for {{ day }}</h1>
<div class="menu-day">
    <ul>
        {% for meal in object_list %}
        <li class="school-type">
            {% if has_multiple_school_types %}
            <span>{{ meal.get_school_type_display }}</span>
            {% endif %}
            <ul>
                {% for dish in meal.dishes.all %}
                <li>
                    <a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
