h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    padding: 10px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.clear { 
    clear: both;
}

.errorlist,
.error-message {
    color: red;
    font-weight: bold;
}

.helptext {
    font-size: 10px;
    font-style: italic;
}

.loading {
    display: none;
    background: url('/media/images/loading.gif');
    width: 16px;
    height: 16px;
}
.loading.active {
    display: inline-block;
}
.rate-wrapper .loading {
    float: left;
}

.footer .connect li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.details table {
    margin-top: 25px;
}
.details th {
    font-weight: bold;
    padding-right: 15px;
    text-align: left;
}
.details td {
    padding: 10px;
}
.content {
    margin: 20px 0;
}
.content .picture {
    float: left;
    padding-right: 5px;
}
.content .video,
.content .note,
.content .petition,
.content .news,
.content .organizer {
    margin-bottom: 5px;
    padding: 10px;
}
.content .odd {
    background: beige;
}
.content .even {
    background-color: #B1DAFB;
}

.content .title,
.content .text,
.content .video .embed {
    margin-bottom: 10px;
}
.content .meta,
.content .video .embed {
    font-size: 10px;
}

.content .meta .added-by,
.content .meta .added-on {
    font-weight: bold;
}

.content .meal {
    float: left;
    padding: 10px;
    width: 150px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.content .meal .image-wrapper {
    height: 160px;
}
.content .meal .image-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content .meal .date {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 5px;
}
.content .meal .description {
    min-height: 70px;
    padding-bottom: 5px;
}
.content .meal .rate-wrapper {
}

.content .entry {
    padding: 10px;
}

.organizer .description {
    padding: 10px 0;
}

.section {
    margin-top: 25px;
}

.nutrition table {
    background-color: white;
    border: 2px solid black;
    width: 200px;
}
.nutrition table th,
.nutrition table td {
    padding: 5px;
    text-align: left;
}
.nutrition table tr {
    border-top: 1px solid black;
}
.nutrition table th {
    font-weight: bold;
}
.nutrition .amount {
    text-align: right;
}

table.month {
    width: 100%;
}
table.month th {
    font-weight: bold;
}
table.month tr {
}
table.month td {
    border: 1px solid black;
    font-size: 12px;
}
table.month td.today {
    background-color: lightGray;
}
table.month .day-number {
    display: block;
    width: 100%;
}
table.month .school-type {
    padding: 5px 0;
}

.calendar-head .next {
    float: right;
}
.calendar-head .previous {
    float: left;
}

.menu-day .school-type {
    padding: 10px 0;
}

.olPopupContent h2 {
    font-size: 18px;
}
.olPopupContent .participation {
    font-size: 10px;
}
.olControlZoomPanel {
    top: 10px !important;
    left: 10px !important;
}
.olControlAttribution {
    bottom: 2px !important;
    left: 2px !important;
    padding: 3px;
    background: lightGray;
}

.rate-wrapper {
}
.rate .rating {
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 2px;
    cursor: pointer;
}
.rating-up {
    background: url('/media/images/ThumbsUp.png') no-repeat;
}
.rating-down {
    background: url('/media/images/ThumbsDown.png') no-repeat;
    margin-top: 16px;
}
.ratings-results-wrapper {
    min-height: 15px;
}
.ratings-results {
    display: none;
    font-size: 12px;
}
.ratings-results.already-voted {
    display: block;
}

.ui-autocomplete {
    z-index: 1500 !important;
}

.glossary .entry .title {
    font-weight: bold;
}

.follow.following .non-follower {
    display: none;
}
.follow.not-following .follower {
    display: none;
}

.dish-form .ui-multiselect {
    width: 100% !important;
}
.dish-form .new-ingredient-form .ui-button-text {
    padding: 0.2em 1em;
    line-height: 1;
}
.dish-form .new-ingredient-form input[type=text] {
    vertical-align: super;
}

.dish-form .new-nutrient-toggle img {
    margin-right: 2px;
    vertical-align: top;
}
.dish-form .new-nutrient-form .ui-button-text {
    padding: 0.2em .5em;
    line-height: 1;
}
.dish-form .new-nutrient-form input[type=text] {
    width: 85px;
    vertical-align: super;
}

.food-logo {
    float: left;
    background: url('/media/images/food.gif');
    width: 159px;
    height: 226px;
}

.logo {
    float: left;
    background: url('/media/images/logo.gif');
    width: 424px;
    height: 81px;
}

#map-legend img {
    vertical-align: middle;
}

.lunch-quiz li {
    margin-bottom: 20px;
}

.lunch-quiz .question {
    margin-bottom: 5px;
    font-weight: bold;
}

.flatpage {
    font-size: 12pt !important;
    font-family: Georgia !important;
}
.flatpage div,
.flatpage span,
.flatpage p {
    font-size: 12pt !important;
    font-family: Georgia !important;
}
.flatpage ol {
    list-style: decimal;
}
.flatpage ul {
    list-style: disc;
}
.flatpage li {
    padding: 5px 0;
}
