body {
    font-family: Georgia;
    background-color: #FCCAA8;
}

.wrapper {
    background-color: #FCCAA8;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 960px;
    padding: 15px;
    padding-top: 5px;
}

#logo {
    background: url('/media/images/logo.png');
    width: 450px;
    height: 197px;
    display: inline-block;
}

#mission-statement {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    width: 335px;
}

.account {
    float: right;
}

.identity {
    clear: both;
}

.nav {
    float: left;
    padding: 5px 0;
}

.nav li {
    float: left;
}
.nav li.first {
}

.middle {
    min-height: 400px;
}

.left {
    background-color: #FEFDE4;
    border: 1px solid #45BF82;
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 600px;
}
.right {
    background-color: #FEFDE4;
    border: 1px solid #45BF82;
    float: left;
    padding: 10px;
    width: 300px;
}
.right .todays-menu {
    
}
.right .todays-menu h1 {
    font-size: 20px;
}

.bottom {
    margin-top: 25px;
    padding-top: 5px;
}

table.month td {
    width: 75px;
    height: 100px;
}
table.month .day-number {
    text-align: right;
}

#jquery-overlay {
    z-index: 2000;
}
#jquery-lightbox {
    z-index: 2001;
}

form.school-search p {
    display: inline;
}
form.school-search .ui-autocomplete-input {
    width: 400px;
}

.ui-multiselect div.selected {
    width: 50% !important;
}
.ui-multiselect div.selected ul.selected {
    height: 200px !important;
}
.ui-multiselect div.available {
    width: 49% !important;
}
.ui-multiselect div.available ul.available {
    height: 200px !important;
}
