body {
    font-family: Georgia;
    background-color: white;
}

.wrapper {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 960px;
    padding: 15px;
    padding-top: 5px;
}

.food-logo {
    float: left;
    background: url('/media/images/food.gif');
    width: 159px;
    height: 226px;
}

.logo {
    float: left;
    background: url('/media/images/logo.gif');
    width: 424px;
    height: 81px;
}

.account {
    float: right;
}

.nav {
    float: left;
    padding: 5px 0;
    width: 655px;
}

.nav li {
    float: left;
}
.nav li.first {
}

.middle {
    min-height: 400px;
}

.left {
    float: left;
    width: 70%;
    padding-right: 1%;
}
.right {
    float: left;
    width: 29%;
}

.bottom {
    margin-top: 25px;
    padding-top: 5px;
}

table.month td {
    width: 75px;
    height: 100px;
}
table.month .day-number {
    text-align: right;
}

#jquery-overlay {
    z-index: 2000;
}
#jquery-lightbox {
    z-index: 2001;
}

form.school-search p {
    display: inline;
}
form.school-search .ui-autocomplete-input {
    width: 400px;
}
