body {
    font-family: 'Mate', serif;
    background-color: #FCCAA8;
}

.wrapper {
    background-color: #FCCAA8;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 960px;
    padding: 15px;
    padding-top: 5px;
}

#logo {
    background: url('/media/images/logo.png');
    width: 450px;
    height: 181px;
    display: inline-block;
}

#mission-statement {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    width: 335px;
    float: right;
    top: 108px;
    position: relative;
}

.account {
    position: absolute;
    right: 50px;
    top: 10px;
}

.identity {
    height: 200px;
    position: absolute;
    width: 810px;
}

.nav {
    float: left;
    padding: 5px 0;
    padding-top: 200px;
}

.nav li {
    float: left;
}
.nav li.first {
}

.middle {
    min-height: 400px;
}

.left {
    background-color: #FEFDE4;
    border: 1px solid #45BF82;
    float: left;
    margin-right: 10px;
    padding: 10px;
    width: 600px;
}
.right {
    background-color: #FEFDE4;
    border: 1px solid #45BF82;
    float: left;
    padding: 10px;
    width: 300px;
}
.right h1,
.right h2 {
    font-size: 20px;
}

.right .sidebar-section {
    padding: 10px 0;
    border-bottom: 1px solid #45BF82;
}
.right .sidebar-section.last {
    border: none;
}

.right .todays-menu .school-type {
    padding: 0;
}

.bottom {
    margin-top: 25px;
    padding-top: 5px;
}

table.month td {
    width: 75px;
    height: 100px;
}
table.month .day-number {
    text-align: right;
}

#jquery-overlay {
    z-index: 2000;
}
#jquery-lightbox {
    z-index: 2001;
}

form.school-search p {
    display: inline;
}
form.school-search .ui-autocomplete-input {
    width: 400px;
}

.ui-multiselect div.selected {
    width: 50% !important;
}
.ui-multiselect div.selected ul.selected {
    height: 200px !important;
}
.ui-multiselect div.available {
    width: 49% !important;
}
.ui-multiselect div.available ul.available {
    height: 200px !important;
}

ul.sections {
    list-style: none;
}

.expanding-section {
    border-bottom: 1px solid #B4DEC9;
}

.expanding-section .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/media/images/sq_plus.png) no-repeat;
    padding-right: 5px;
}
.expanding-section.expanded .icon {
    background: url(/media/images/sq_minus.png) no-repeat;
}

.expanding-section .expander {
    cursor: pointer;
}

.expanding-section .expandee {
    display: none;
}

#dish-detail .callouts {
    float: right;
    margin-top: 0;
}
#dish-detail .photos {
    margin-top: 15px;
}
#dish-detail .photos .jcarousel-container {
    border: none;
}

.add-link img {
    vertical-align: bottom;
}
.add-link .text {
    font-size: 18px;
    margin-left: 10px;
}

#school-page > div {
    border-bottom: 1px solid #45BF82;
    margin-bottom: 5px;
    padding-bottom: 15px;
}
#school-page > div:last-child {
    border-bottom: none;
}

.content .video,
.content .note,
.content .comment,
.content .entry,
.content .petition,
.content .news,
.content .organizer, 
.content .twitterfeed {
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid #45BF82;
}
.content .video:last-child,
.content .note:last-child,
.content .comment:last-child,
.content .entry:last-child,
.content .petition:last-child,
.content .news:last-child,
.content .organizer:last-child,
.content .twitterfeed:last-child {
    border-bottom: none;
}
