{% block head_includes %}
<script src="{{ MEDIA_URL }}lib/OpenLayers/OpenLayers.js"></script>
<script src="{{ MEDIA_URL }}lib/cloudmade.js"></script>
<script src="{{ MEDIA_URL }}js/common/map.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}lib/OpenLayers/theme/default/style.css" />
{% endblock %}

{% block head_scripts %}
<script>
    $(document).ready(function() {
        $('#map').schoolmap({
            boroughs: 'Brooklyn,Manhattan',   
            types: 'Elementary',
        });
    });
</script>
{% endblock %}
