{% load thumbnail %}
<script>
    $(document).ready(function() {
        $('.meals').photopager({
            baseUrl: '{% url schools_json_meals_list school_slug=school.slug %}',
            $listContainer: $('.meals .meals-list'),
            elementClass: 'meal',
            cycle: true,
            onMove: function(photos) {
                $('.expandable').expander({
                    expandText: 'more',
                    slicePoint: 40,
                    userCollapseText: 'less',   
                });
            },
        });       
    });
</script>
<div class="content">
    <h2>What I had for lunch
        <a href="{% url tray.views.add school_slug=school.slug %}">
            <img src="{{ MEDIA_URL }}images/round_plus.png" />
        </a>
    </h2>
    {% if meals %}
    <div class="meals">
        <div class="button previous"></div>
        <ul class="meals-list">
            {% with tray_list=meals %}
            {% include "tray/tray_list.html" %}
            {% endwith %}
        </ul>
        <div class="button next"></div>
    </div>
    {% else %}
    No meals have been added yet&mdash;<a href="{% url tray.views.add school_slug=school.slug %}">be the first</a>!
    {% endif %}
    <div class="clear"></div>
</div>
