<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/mobile/icon.png">
        <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}images/mobile/icon.png">

        <link href='http://fonts.googleapis.com/css?family=Mate:400,400italic' rel='stylesheet' type='text/css'>

        <!-- jQuery [Mobile] -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}lib/jquery.mobile/themes/lunchline.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile.structure-1.1.1.min.css" /> 

        <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>

        <!-- /jQuery [Mobile] -->

        <script src="{{ MEDIA_URL }}js/common/state.js"></script>
        <script>
            casfood_state.authenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            casfood_state.mobile = true;
        </script>
        <script src="{{ MEDIA_URL }}js/common/jquery-util.js"></script>
        <script src="{{ MEDIA_URL }}js/common/jquery.ratings.js"></script>

        <!-- maps -->
        <script src="{{ MEDIA_URL }}lib/OpenLayers/OpenLayers.js"></script>
        <script src="{{ MEDIA_URL }}lib/cloudmade.js"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}lib/OpenLayers/theme/default/style.css" />
        <!-- /maps -->

        <script src="{{ MEDIA_URL }}lib/highcharts/highcharts.js"></script>
        <script src="{{ MEDIA_URL }}lib/highcharts-touch-tooltip-fix/touch-tooltip-fix.js"></script>
        <script src="{{ MEDIA_URL }}lib/swipe.min.js"></script>
        <script src="{{ MEDIA_URL }}js/common/init.js"></script>
        <script src="{{ MEDIA_URL }}js/common/map.js"></script>
        <script src="{{ MEDIA_URL }}js/common/jquery.school-search.js"></script>
        <script src="{{ MEDIA_URL }}js/mobile/init.js"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/common.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/mobile.css" />

        {% block head_includes %}{% endblock %}
        {% block head_scripts %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="{% block page_id %}{% endblock %}" data-role="page" data-add-back-btn="true" data-theme="a">
            {% block header %}
            <div data-role="header">
                <h1>{% block header_title %}{% endblock %}</h1>
            </div>
            {% endblock %}

            <div data-role="content">
            {% block content %}
            {% endblock %}
            </div>

            {% block footer %}
            <div data-role="footer" data-position="fixed" data-theme="c">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li><a href="/" data-icon="home">Home</a></li>
                        <li><a href="{% url food.views.menu %}" data-icon="info">What's Cooking</a></li>
                    </ul>
                </div>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
