{% extends "screen/food/base.html" %}
{% load menu_calendar %}

{% block left %}
<h1>{{ school_type }} school menu</h1>
<div>
    <div class="calendar-head">
        <a class="previous" href="{% url food.views.menu_month school_type=school_type year=previous_year month=previous_month %}">previous</a>
        <a class="next" href="{% url food.views.menu_month school_type=school_type year=next_year month=next_month %}">next</a>
        <div class="clear"></div>
    </div>
    {% menu_calendar year_num month_num object_list %}
</div>
{% endblock %}
