{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}Delete Comment{% endblock %}

{% block content %}
<h1>{% trans "Delete comment" %}</h1>
<div>
    <p>You are about to delete the comment below. Is that okay? You cannot undo this.</p>
    <div class="content note">
        {% include "comments/detail.html" %}
    </div>
</div>

<form action="." method="post">{% csrf_token %}
    <input type="submit" value="yes, delete it" />
    <a href="{{ comment.content_object.get_absolute_url }}">no, take me back</a>
</form>
{% endblock %}
