<ul id="comments" class="content">
    {% for comment in comment_list %}
    <li class="note {% cycle odd,even %}">
        <div class="actions" style="float: right;">
            {% if request.user.is_superuser or comment.user == request.user %}
            <a href="{% url comments_comment_delete pk=comment.pk %}" class="delete-link" title="delete comment"><span class="icon"></span></a>
            {% endif %}
        </div>
        {% include "comments/detail.html" %}
    </li>
    {% endfor %}
</ul>
