<h1>{{ school.name.title }}</h1>
{% include "common/schools/details_snippet.html" %}
{% include "common/content/note_list.html" %}
{% include "common/content/picture_list.html" %}
{% include "common/content/video_list.html" %}

<div class="section">
    <h2>Change the food at this school</h2>
    <div>This section should give parents, students, and other concerned neighbors to sign on as people who want to change the food at this school.
        <br />Could include:
        <ul>
            <li>email list?</li>
            <li>petition?</li>
            <li>a way to post PTA meeting times?</li>
            <li>contact information for relevant decision-makers (principal, district-level, chefs)?</li>
        </ul>
    </div>
</div>
