<div class="content notes" data-role="collapsible">
    <h2>Comments
        <a href="{% url schools.views.add_note school_slug=school.slug %}">
            <img src="{{ MEDIA_URL }}images/round_plus.png" />
        </a>
    </h2>
    <ul>
        {% for note in notes %}
        <li class="note {% cycle odd,even %}">
        {% include "content/note_single.html" %}
        </li>
        {% empty %}
        <li>No comments yet.</li>
        {% endfor %}
    </ul>
    {% if more_notes %}
    <a href="{% url schools_notes_list school_slug=school.slug %}">show more comments</a>
    {% endif %}
    <div class="clear"></div>
</div>
