<div class="content notes" data-role="collapsible">
    <h2>Comments
    </h2>
    <ul>
        <p>
        <a href="{% url schools.views.add_note school_slug=school.slug %}" class="add-link" data-role="button" data-icon="plus">{% if not is_mobile %}<span class="icon"></span>{% endif %}<span class="text">add a comment</span></a>
        </p>
        {% for note in notes %}
        <li class="note {% cycle odd,even %}">
        {% include "content/note_single.html" %}
        </li>
        {% empty %}
        <li>No comments yet.</li>
        {% endfor %}
    </ul>
    {% if more_notes %}
    <a href="{% url schools_notes_list school_slug=school.slug %}">show more comments</a>
    {% endif %}
    <div class="clear"></div>
</div>
