{% load thumbnail %}

{% for picture in picture_list %}
<li>
    {% comment %}
    Only let thumbnail link to something if it has a content_object. Could
    lightbox the rest, but let's keep it simple.
    {% endcomment %}
    {% if picture.content_object %}
    <a 
        class="img-gallery"
        href="{{ picture.content_object.get_absolute_url }}" 
        rel="external" 
        title="{{ picture.description|default:"" }}">
    {% endif %}

        {% thumbnail picture.picture "100x100" crop="center" as thumb %}
        <img 
            src="{{ thumb.url }}" 
            width="{{ thumb.width }}" 
            height="{{ thumb.height }}" />
        {% endthumbnail %}

    {% if picture.content_object %}
    </a>           
    {% endif %}
</li>
{% empty %}
{% comment %}Intentionally blank.{% endcomment %}
{% endfor %}
