{% load thumbnail %}
<script>
    function loadTrays(carousel, state) {
        for (var i = carousel.first; i <= carousel.last; i++) {
            if (!carousel.has(i)) {
                addTray(carousel, i);
            }
        }
    }

    function addTray(carousel, index) {
        $.get('{% url schools_meals_list school_slug=school.slug %}?',
            {
                count: 1,
                index: index - 1, // account for 1-indexing in jcarousel
            },
            function(trays) {
                var trays = carousel.add(index, trays);
                $(trays).find('.expandable').expander({
                    expandText: 'more',
                    slicePoint: 40,
                    userCollapseText: 'less',   
                });
                $(trays).find('.rate').rate({
                    loggedIn: {% if request.user.is_authenticated %}true{% else %}false{% endif %},
                    $logInDialog: $('#log-in-dialog'),
                });
            }
        );
    }

    $(document).ready(function() {
        var startIndex = 0;
        if ({{ meals_count }} > 3) {
            startIndex = {{ meals_count }} - 2;
        }
        $('.carousel').jcarousel({
            itemLoadCallback: loadTrays,
            scroll: 1,
            size: {{ meals_count }},
            start: startIndex,
        });
    });
</script>
<div class="content">
    <h2>What I had for lunch
        <a href="{% url tray.views.add school_slug=school.slug %}">
            {% comment %}
            TODO move to CSS to make more easily configured
            {% endcomment %}
            <img src="{{ MEDIA_URL }}images/Add.png" style="vertical-align: text-bottom" />
        </a>
    </h2>
    {% if meals_count > 0 %}
    <div class="meals">
        <ul class="meals-list carousel jcarousel-skin-meals"></ul>
    </div>
    {% else %}
    No meals have been added yet&mdash;<a href="{% url tray.views.add school_slug=school.slug %}">be the first</a>!
    {% endif %}
    <div class="clear"></div>
</div>
