{% load thumbnail %}

{% if not is_mobile %}
<script>
    function loadTrays(carousel, state) {
        for (var i = carousel.first; i <= carousel.last; i++) {
            if (!carousel.has(i)) {
                addTray(carousel, i);
            }
        }
    }

    function addTray(carousel, index) {
        $.get('{% url schools_meals_list school_slug=school.slug %}?',
            {
                count: 1,
                index: index - 1, // account for 1-indexing in jcarousel
            },
            function(trays) {
                var trays = carousel.add(index, trays);
                $(trays).find('.expandable').expander({
                    expandText: 'more',
                    slicePoint: 40,
                    userCollapseText: 'less',   
                });
                $(trays).find('.rate').rate({
                    loggedIn: {% if request.user.is_authenticated %}true{% else %}false{% endif %},
                    $logInDialog: $('#log-in-dialog'),
                });
            }
        );
    }

    $(document).ready(function() {
        var startIndex = 0;
        if ({{ meals_count }} > 3) {
            startIndex = {{ meals_count }} - 2;
        }
        $('.carousel').jcarousel({
            itemLoadCallback: loadTrays,
            scroll: 1,
            size: {{ meals_count }},
            start: startIndex,
        });
    });
</script>
{% endif %}

<div class="content" data-role="collapsible">
    <h2>What I had for lunch</h2>
    <div class="helptext">
        Post the meal you had today for others to comment on and rate.
    </div>
    <p>
        <a href="{% url tray.views.add school_slug=school.slug %}" class="add-link" data-role="button" data-icon="plus">
            {% if not is_mobile %}<span class="icon"></span>{% endif %}<span class="text">add a meal</span>
        </a>
    </p>
    {% if meals_count > 0 %}
        {% if not is_mobile %}
        <div class="meals">
            <ul class="meals-list carousel jcarousel-skin-meals"></ul>
        </div>
        {% else %}
        <div class="photos">
            <ul class="photos-list jcarousel-skin-photos">
                {% for tray in trays %}
                {% if tray.pictures.count > 0 %}
                <li>
                    <a href="{{ tray.get_absolute_url }}">
                        {% thumbnail tray.pictures.all.0.picture "200x200" crop="center" upscale="False" as thumb %}
                        <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
                        {% endthumbnail %}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% else %}
    No meals have been added yet&mdash;<a href="{% url tray.views.add school_slug=school.slug %}">be the first</a>!
    {% endif %}
    <div class="clear"></div>
</div>
