<div class="rate-wrapper">Rate this meal: 
    <ul class="rate" data-change-rating-url="{% url tray.views.rate school_slug=school.slug tray_id=tray.id  %}">
        <li class="rating rating-up" data-rating-points="1"></li>
        <li class="rating rating-down" data-rating-points="-1"></li>
    </ul>
    <div class="loading"></div>
    <div class="clear"></div>
    <div class="ratings-results-wrapper">
        <div class="ratings-results{% if tray.user_rated %} already-voted{% endif %}">
            {% if tray.user_rated %}
            <span class="ratings-sum">{{ tray.total_points }}</span> (<span class="ratings-count">{{ tray.total_count }}</span> rating<span class="ratings-plural">{{ tray.total_count|pluralize }}</span>)
            {% else %}
            <span class="ratings-sum"></span> (<span class="ratings-count"></span> rating<span class="ratings-plural"></span>)
            {% endif %}
        </div>
    </div>
</div>

