{% load thumbnail %}

{% for tray in tray_list %}
<li class="meal {% cycle odd,even %}">
    <div class="image-wrapper">
        {% thumbnail tray.picture "600x600" as full %}
        <a title="{{ tray.description }}" href="{{ full.url }}" rel="external" class="img-gallery">
            {% thumbnail tray.picture "150x150" as thumb %}
            <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
            {% endthumbnail %}
        </a>           
        {% endthumbnail %}
    </div>
    <div class="date">{{ tray.date }}</div>
    <div class="description expandable">{{ tray.description }}</div>
    <div class="comments"><a href="{{ tray.get_absolute_url }}">{{ tray.notes.all|length }} comments</a></div>
    {% include "tray/tray_rating_snippet.html" %}
</li>
{% empty %}
{% comment %}Intentionally blank.{% endcomment %}
{% endfor %}
