{% extends "glossary/base.html" %}

{% block title %}Glossary{% endblock %}

{% block header_title %}Glossary{% endblock %}

{% block content %}
<h2>Glossary
    {% if perms.glossary.add_entry %}
    <a href="{% url glossary_entry_create %}">
        <img src="{{ MEDIA_URL }}images/round_plus.png" />
    </a>
    {% endif %}
</h2>
<div class="glossary">
    <ul class="content entries">
        {% for object in object_list %}
        <li class="entry {% cycle 'odd' 'even' %}">
            <a name="{{ object.slug }}">
                <div class="title">{{ object.title }}
                    {% if perms.glossary.change_entry %}
                    <a href="{% url glossary_entry_update slug=object.slug %}">
                        <img src="{{ MEDIA_URL }}images/doc_edit.png" />
                    </a>
                    {% endif %}
                </div>
            </a>
            <div class="text">{{ object.text }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
