{% extends "glossary/base.html" %}
{% load glossary_tags %}

{% block title %}Glossary{% endblock %}

{% block header_title %}Glossary{% endblock %}

{% block content %}
<h2>Glossary
    {% if perms.glossary.add_entry and not is_mobile %}
    <a href="{% url glossary_entry_create %}">
        <img src="{{ MEDIA_URL }}images/round_plus.png" />
    </a>
    {% endif %}
</h2>
<div class="glossary">
    <ul class="content entries after-content" data-role="listview">
        {% for object in object_list %}
        <li class="entry {% cycle 'odd' 'even' %}">
            <a name="{{ object.slug }}" 
                {% if is_mobile %}
                href="{{ object.get_absolute_url }}"
                {% endif %}
                >
                <div class="title">{{ object.title }}
                    {% if perms.glossary.change_entry and not is_mobile %}
                    <a href="{% url glossary_entry_update slug=object.slug %}">
                        <img src="{{ MEDIA_URL }}images/doc_edit.png" />
                    </a>
                    {% endif %}
                </div>
            </a>
            {% if not is_mobile %}
            <div class="text">{{ object.text|add_glossary_links|urlize|linebreaks }}</div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
