<h1>{{ dish.name }}</h1>

<div class="nutrition section">
    <table>
        <tr><th colspan="2">Nutrition Facts</th></tr>
        <tr>
            <td>calories</td>
            <td>340</td>
        </tr>
        <tr>
            <td>sodium</td>
            <td>570 mg</td>
        </tr>
        <tr>
            <td>total fat</td>
            <td>14 g</td>
        </tr>
    </table>
</div>

<div class="section">
    <h2>Production</h2>
    <div>Where is {{ dish.name }} made? How does it get to the school cafeteria?</div>
</div>

<div class="section">
    <h2>Alternatives</h2>
    <div>What healthy alternatives are there to {{ dish.name }}?</div>
</div>

<div class="section">
    <h2>Pictures</h2>
    <div>Pictures of {{ dish.name }} in the wild.</div>
</div>

<div class="section">
    <h2>More information</h2>
    <div>Where can I find more information about {{ dish.name }}?</div>
</div>
