<!doctype html>
<html>
    <head>
        {% if debug %}
        <script src="{{ MEDIA_URL }}lib/jquery-1.7.1.min.js"></script>
        {% else %}
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        {% endif %}
        <script src="{{ MEDIA_URL }}js/common/jquery-util.js"></script>
        <script src="{{ MEDIA_URL }}js/common/ratings.js"></script>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />

        {% block head_includes %}{% endblock %}
        {% block head_scripts %}
        <script>
            $(document).ready(function() {
                $('.rate').rate();
            });
        </script>
        {% endblock %}

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/common.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" />
        <title>{% block title %}New Site{% endblock %}</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="top">
                <div class="header">
                    <div class="logo">School Food App</div>
                    <div class="account">
                        {% if user.is_anonymous %}
                        <a href="{% url django.contrib.auth.views.login %}">login</a>
                        {% else %}
                        logged in as {{ user }}  <a href="{% url django.contrib.auth.views.logout %}">logout</a>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="nav">
                    <ul>
                        <li class="first"><a href="{% url schools.views.index %}">Home</a></li>
                        <li><a href="{% url food.views.menu %}">Menu</a></li>
                        <li><a href="{% url getinvolved.views.index %}">Get Involved</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="middle">
                {% block content %}{% endblock %}
                <div class="clear"></div>
            </div>

            <div class="bottom">
                <div class="footer">
                    <p>Produced at City As School, 2012<p>
                    <ul class="connect">
                        <li>
                            <a href="http://twitter.com/"><img src="{{ MEDIA_URL }}/images/twitter-pencil48.png" /></a>
                        </li>
                        <li>
                            <a href="http://facebook.com/"><img src="{{ MEDIA_URL }}/images/facebook-pencil48.png" /></a>
                        </li>
                        <li>
                            <a href="http://youtube.com/"><img src="{{ MEDIA_URL }}/images/youtube-pencil48.png" /></a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>
