{% extends is_mobile|yesno:"mobile/base.html,screen/base.html" %}

{% block title %}Home{% endblock %}

{% block header_title %}Lunch Line{% endblock %}
{% block page_id %}home-page{% endblock %}

{% block middle %}
<div class="home">
    <div style="border-right: solid #a7e1c2 3px; padding-right: 10px; 
        display: inline-block; vertical-align: top; margin-right: 5px;">
        <a href="{% url schools.views.map %}">
            <img src="{{ MEDIA_URL }}images/map.gif" />
        </a>
    </div>
    <div style="display: inline-block; vertical-align: top; width: 275px;">
        <div id="mission-statement" 
            style="border: 3px solid #8c39a2; padding: 10px;">
            Lunch Line is a platform built to empower New York City's 
            students, parents, and teachers to fight for healthy school food!
        </div>
        <img src="{{ MEDIA_URL }}images/lunches.gif" />
        <div class="video">
            <iframe width="100%" src="http://www.youtube.com/embed/8n2HO81RtiA" 
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}

{% if is_mobile %}
{% block content %}
<a href="/"><div class="food-logo"></div></a>
<a href="/"><div class="logo"></div></a>
<div class="nav">
    <ul>
        <li class="first"><a href="/about/"><img src="{{ MEDIA_URL }}images/about.png" /></a></li>
        <li><a href="{% url food.views.menu %}"><img src="{{ MEDIA_URL }}images/whats_cooking.png" /></a></li>
        <li><a href="/"><img src="{{ MEDIA_URL }}images/good_food_alternatives.png" /></a></li>
        <li><a href="{% url schools.views.map %}"><img src="{{ MEDIA_URL }}images/find_your_school.png" /></a></li>
        <li><a href="{% url glossary_list %}"><img src="{{ MEDIA_URL }}images/glossary.png" /></a></li>
        <li><a href="/"><img src="{{ MEDIA_URL }}images/lunch_line_playlist.png" /></a></li>
        <li><a href="{% url getinvolved_post_list %}"><img src="{{ MEDIA_URL }}images/take_action.png" /></a></li>
    </ul>
    <div class="clear"></div>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% endif %}
