{% extends is_mobile|yesno:"mobile/base.html,screen/base.html" %}
{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block header_title %}Lunch Line{% endblock %}
{% block page_id %}home-page{% endblock %}

{% block head_scripts %}
{{ block.super }}
{% if not is_mobile %}
<script>
    function loadPictures(carousel, state) {
        for (var i = carousel.first; i <= carousel.last; i++) {
            if (!carousel.has(i)) {
                addPicture(carousel, i);
            }
        }
    }

    function addPicture(carousel, index) {
        $.get('{% url content_pictures_list %}?',
            {
                count: 1,
                index: index - 1, // jcarousel is 1-indexed
            },
            function(pictures) {
                carousel.add(index, pictures);
            }
        );
    }

    $(document).ready(function() {
        $('.photos-list').jcarousel({
            itemFallbackDimension: 100,
            itemLoadCallback: loadPictures,
            scroll: 1,
            size: {{ pictures_count }},
            start: 0,
        });
    });
</script>
{% endif %}
{% endblock %}

{% block middle %}
<div class="home">
    <div style="border-right: solid #a7e1c2 3px; padding-right: 10px; 
        display: inline-block; vertical-align: top; margin-right: 5px;">
        <a href="{% url schools.views.map %}">
            <img src="{{ MEDIA_URL }}images/map.png" />
        </a>
    </div>
    <div style="display: inline-block; vertical-align: top; width: 275px;">

        <div class="photos" style="padding-bottom: 10px;">
            <ul class="photos-list carousel jcarousel-skin-photos"></ul>
        </div>

        <div class="video">
            {{ video.embed_code|safe }}
        </div>

        <ul class="connect">
            <li>
                <a href="{% url connect_twitterfeed_list %}"><img src="{{ MEDIA_URL }}/images/twitter-pencil48.png" /></a>
            </li>
            <li>
                <a href="http://facebook.com/"><img src="{{ MEDIA_URL }}/images/facebook-pencil48.png" /></a>
            </li>
            <li>
                <a href="{% url connect_video_list %}"><img src="{{ MEDIA_URL }}/images/youtube-pencil48.png" /></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% if is_mobile %}
{% block content %}
<div id="logo"></div>
<div class="nav">
    <ul data-role="listview" data-inset="true">
        <li><a href="{% url food.views.todays_menu %}">Today's Menu</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url accounts.views.user_schools %}">Your Schools</a></li>
        <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
        {% else %}
        <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
        {% endif %}
    </ul>
    <ul data-role="listview" data-inset="true">
        <li><a href="/about/">About</a></li>
        <li><a href="{% url food.views.menu %}">What's Cooking?</a></li>
        <li><a href="/good-food-alternatives/">Good Food Alternatives</a></li>
        <li><a href="{% url getinvolved_post_list %}">Take Action</a></li>
        <li><a href="{% url schools.views.map %}">Find Your School</a></li>
        <li><a href="{% url glossary_list %}">Glossary</a></li>
        <li><a href="{% url connect_index %}">Lunch Line Playlist</a></li>
        <li><a href="http://lunch-line.blogspot.com/">Blog</a></li>
    </ul>
    <div class="clear"></div>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% endif %}
