<h1>{{ dish.name }}</h1>

<div class="nutrition section">
    <table>
        <tr><th colspan="2">Nutrition Facts</th></tr>
        {% for nutritionfact in dish.nutritionfact_set.all %}
        <tr class="nutrition-fact">
            <td class="nutrient">{{ nutritionfact.nutrient.name }}</td>
            <td class="amount">{{ nutritionfact.amount }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>calories</td>
            <td>340</td>
        </tr>
        <tr>
            <td>sodium</td>
            <td>570 mg</td>
        </tr>
        <tr>
            <td>total fat</td>
            <td>14 g</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="section">
    <h2>Ingredients</h2>
    {% for ingredient in dish.ingredients.all %}
    {{ ingredient }}{% if not forloop.last %}, {% endif %}
    {% empty %}
    We don't know yet.
    {% endfor %}
</div>

<div class="section">
    <h2>Production</h2>
    <div>Where is {{ dish.name }} made? How does it get to the school cafeteria?</div>
</div>

<div class="section">
    <h2>Pictures</h2>
    {% if dish.name == 'chicken tenders' %}
    <div><img src="{{ MEDIA_URL }}images/school_chicken.jpg" /></div>
    {% else %}
    <div>Pictures of {{ dish.name }} in the wild.</div>
    {% endif %}
</div>

<div class="section">
    <h2>More information</h2>
    <div>Where can I find more information about {{ dish.name }}?</div>
</div>
