{% extends "screen/base.html" %}

{% block head_includes %}
{{ block.super }}
<script src="{{ MEDIA_URL }}lib/OpenLayers/OpenLayers.js"></script>
<script src="{{ MEDIA_URL }}lib/cloudmade.js"></script>
<script src="{{ MEDIA_URL }}js/common/map.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}lib/OpenLayers/theme/default/style.css" />
{% endblock %}

{% block head_scripts %}
{{ block.super }}
<script>
    $(document).ready(function() {
        $('#map').schoolmap({
            id: {{ school.id }},
            detailFid: {{ school.id }},
            detailView: true,
            popups: false,
            hover: false,
            select: false,
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="left">
    {% block left %}{% endblock %}
</div>
<div class="right">
    {% block right %}
    <div id="map" style="height: 200px;"></div>
    {% endblock %}
</div>
{% endblock %}
