{% extends "screen/base.html" %}

{% block middle %}
<div class="left">
    {% block content %}{% endblock %}
</div>
<div class="right">
    {% block sidebar %}
    {% if todays_menu %}
    <div class="todays-menu">
        {% with object_list=todays_menu school_type="elementary" day="today" has_multiple_school_types=False %}
        {% include "food/meal_archive_day_content.html" %}
        {% endwith %}
    </div>
    {% endif %}
    {% endblock %}
    <ul class="connect">
        <li>
            <a href="{% url connect_twitterfeed_list %}"><img src="{{ MEDIA_URL }}/images/twitter-pencil48.png" /></a>
        </li>
        <li>
            <a href="http://facebook.com/"><img src="{{ MEDIA_URL }}/images/facebook-pencil48.png" /></a>
        </li>
        <li>
            <a href="{% url connect_video_list %}"><img src="{{ MEDIA_URL }}/images/youtube-pencil48.png" /></a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
{% endblock %}
