{% extends "screen/base.html" %}

{% block middle %}
<div class="left">
    {% if messages %}
    <ul class="messages ui-state-highlight ui-widget">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
</div>
<div class="right">
    {% block sidebar %}
    {% if todays_menu %}
    <div class="todays-menu sidebar-section">
        {% if school and school.participates_in_wellness_in_the_schools %}
            {% with object_list=todays_menu_wits school_type="Wellness in the Schools" day="" has_multiple_school_types=False %}
            {% include "food/meal_archive_day_content.html" %}
            {% endwith %}
        {% else %}
            {% with object_list=todays_menu school_type="Elementary" day="" has_multiple_school_types=False %}
            {% include "food/meal_archive_day_content.html" %}
            {% endwith %}
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}

    <div class="getinvolved-promoted sidebar-section">
        <h2>Get involved!</h2>
        <ul>
            {% for post in promoted_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="connect">
        <li>
            <a href="{% url connect_twitterfeed_list %}"><img src="{{ MEDIA_URL }}/images/twitter-pencil48.png" /></a>
        </li>
        <li>
            <a href="http://www.facebook.com/LunchLinenyc"><img src="{{ MEDIA_URL }}/images/facebook-pencil48.png" /></a>
        </li>
        <li>
            <a href="{% url connect_video_list %}"><img src="{{ MEDIA_URL }}/images/youtube-pencil48.png" /></a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
{% endblock %}
