<h1>Get Involved</h1>
<div class="get-involved content">
    <h2>Recent Items</h2>
    <ul>
        <li class="petition odd">
            <h3 class="title">Petition: Pink Slime Petition Tops 170,000, Meat Industry Claims It’s Safe</h3>
            <div class="meta">Posted by <span class="added-by">Naima</span> on <span class="added-on">March 13th at noon</span></div>
            <div class="text"><a href="http://shine.yahoo.com/healthy-living/8220-pink-slime-8221-petition-tops-170-000-175000153.html">Sign this petition</a> and tell the USDA to stop using pink slime in school food!</div>
        </li>
        <li class="news even">
            <h3 class="title">News: Michelle Obama: School lunches to have more veggies, whole grains</h3>
            <div class="meta">Posted by <span class="added-by">Naima</span> on <span class="added-on">March 13th at 2pm</span></div>
            <div class="text">Some <a href="http://www.thegrio.com/health/michelle-obama-school-lunches-to-have-more-veggies-whole-grains.php">details</a> about the first major nutritional overhaul of school meals in more than fifteen years.</div>
        </li>
    </ul>
</div>
<div class="get-involved letters content">
    <h2>Write a Letter</h2>
    <div>A few sample letters to send to your principal or head of school food.</div>
</div>
