{% extends "getinvolved/base.html" %}

{% block title %}Take Action{% endblock %}
{% block header_title %}Take Action{% endblock %}

{% block content %}
<h2>Take Action</h2>

{% if perms.getinvolved.add_post and not is_mobile %}
<a href="{% url getinvolved_post_create %}" class="add-link">
    <span class="icon"></span><span class="text">add a post</span>
</a>
{% endif %}

<div class="getinvolved">
    <ul class="content entries" data-role="listview" data-inset="true">
        {% for post in object_list %}
        <li class="entry action-post {% cycle 'odd' 'even' %} expanding-section">
            {% if not is_mobile %}
            <h3 class="title expander">
                <span class="icon"></span>
                {{ post.title }}
            </h3>
            <div class="expandee">
                {% if not is_mobile and perms.getinvolved.change_post %}
                <a href="{% url getinvolved_post_update pk=post.id %}" class="edit-link">
                    <span class="icon"></span><span class="text">edit this post</span>
                </a>
                {% endif %}
                <div class="text">{{ post.text|safe }}</div>
                <div class="meta">
                    Posted by <span class="added-by">{{ post.added_by }}</span> on <span class="added-on">{{ post.added|date:"N j, Y \a\t P" }}</span>.
                </div>
            </div>
            {% else %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
