<h1>{{ school.name.title }}</h1>
{% include "schools/details_snippet.html" %}
{% include "tray/meal_list.html" %}

<div data-role="collapsible">
    <a href="{% url feedback_results_school school_slug=school.slug %}">view results</a>
    {% with form=quiz_form %}
    {% include "feedback/feedback_response_form.html" %}
    {% endwith %}
</div>

{% include "content/note_list.html" %}

<script>
    $(document).ready(function() {
        {% if not user.is_authenticated %}
        $('.lunch-quiz input').change(function() {
            $('#log-in-dialog').dialog('open');
        });
        $('.lunch-quiz .finish-slider').bind('slide', function() {
            $('#log-in-dialog').dialog('open');
        });
        {% endif %}
    });
</script>

<div data-role="collapsible">
    <h2>Get Involved</h2>
    <div class="section">
        {% for principal in principals %}
        Contact the principal: {{ principal.name }} {{ principal.phone }}
        {% endfor %}
    </div>
    <div class="section">
        For more information, including the SchoolFood manager and the cafeteria phone number, look at the <a href="http://www.opt-osfns.org/osfns/resources/sch_searchNew/schFoodNew.aspx?cfoodsch={{ school.school_food_code }}">SchoolFood page for this school</a>.
    </div>
    <div class="section organizers">
        {% if school.organizers %}
        <div>
            There are {{ school.organizers.count }} organizers at this school: 
            {% if user.is_superuser or is_following or is_organizing %}
            <ul class="content">
                {% for organizer in school.organizers.all %}
                <li class="organizer {% cycle "odd" "even" %}">
                    {% if organizer.added_by == user %}
                    <div class="edit" style="float: right;">
                        <a href="{% url schools_edit_organizer school_slug=school.slug pk=organizer.pk %}">
                            edit
                        </a>
                        <a href="{% url schools_delete_organizer school_slug=school.slug pk=organizer.pk %}">
                            delete
                        </a>
                    </div>
                    {% endif %}
                    <h3 class="name">{{ organizer.name }}</h3>
                    <div class="description">{{ organizer.description }}</div>
                    {% if organizer.phone %}
                    <div class="phone">{{ organizer.phone }}</div>
                    {% endif %}
                    {% if organizer.email %}
                    <div class="email">
                        <a href="mailto:{{ organizer.email }}">{{ organizer.email }}</a>
                    </div>
                    {% endif %}
                    {% if organizer.url %}
                    <div class="url">site: {{ organizer.url|urlize }}</div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            Please log in and follow this school to view their details.
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="section add-organizer">
        Are you organizing here? 
        <a href="{% url schools_add_organizer school_slug=school.slug %}">Let everyone know!</a>
    </div>
    <div class="section">
        {% if perms.accounts.can_follow_schools %}
        <div class="follow{% if is_following %} following{% else %} not-following{% endif %}">
            <script>
                function change_following(follow, $link) {
                    var loading = $link.parent().find('.loading');
                    loading.css('display', 'inline-block');

                    if (follow) {
                        url = '{% url accounts.views.follow school_slug=school.slug %}';
                    }
                    else {
                        url = '{% url accounts.views.unfollow school_slug=school.slug %}';
                    }
                    $.getJSON(url, function(data) {
                        loading.hide();
                        if (data.status === 'OK') {
                            $follow = $link.parents('.follow');
                            if (follow) {
                                $follow.removeClass('not-following')
                                    .addClass('following');
                            }
                            else {
                                $follow.removeClass('following')
                                    .addClass('not-following');
                            }
                        }
                    });
                }
                $(document).ready(function() {
                    $('a.follow-school').click(function(e) {
                        e.preventDefault();
                        change_following(true, $(this));
                    });
                    $('a.unfollow-school').click(function(e) {
                        e.preventDefault();
                        change_following(false, $(this));
                    });
                });
            </script>
            
            <div class="follower">
                You're following this school. <a href="#" class="unfollow-school">Stop following this school.</a><div class="loading"></div>
            </div>
            <div class="non-follower">
                <a href="#" class="follow-school">Follow this school</a><div class="loading"></div> to receive updates when someone adds notes or pictures to it.
            </div>
        </div>
        {% else %}
        <div>
            <a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">Login</a> to follow this school and receive updates when people add notes or pictures to it.
        </div>
        {% endif %}
    </div>
</div>
