{% extends is_mobile|yesno:"mobile/base.html,screen/base_with_sidebar.html" %}

{% block title %}Find Your School{% endblock %}
{% block header_title %}Find Your School{% endblock %}
{% block page_id %}map-page{% endblock %}

{% block head_scripts %}
{{ block.super }}
{% if not is_mobile %}
<script>
    $(document).ready(function() {
        $('#map').schoolmap();
        $('form.school-search').schoolsearch();
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
{% if is_mobile %}
<div>
    <form action="" class="school-search" method="post">
        <div class="error-message"></div>
        <label for="id_school" class="ui-hidden-accessible">Search by address:</label>
        <input type="search" id="id_school" name="school" />
        <input type="submit" value="search by address" />
        <a href="{% url schools_schools_byborough %}" data-role="button">
            or browse by name
        </a>
    </form>
</div>
<div id="map" style="height: 500px; width: 100%;"></div>
{% else %}
<div>
    <h2>Find Your School</h2>

    <form action="" class="school-search" method="post">
        <div class="error-message"></div>
        {{ form.media.css }}
        {{ form.media.js }}
        {{ form.as_p }}
        <input type="submit" value="search" data-role="button" />
        <div class="loading"></div>
        {% if not user.is_anonymous %}
        <span>
            or <a href="{% url accounts.views.user_schools %}">view your schools</a>
        </span>
        {% endif %}
    </form>

</div>
<div id="map" style="height: 500px; width: 100%;"></div>
{% endif %}
<div id="map-legend">
    <h3>Map Legend</h3>
    <ul>
        <li><img src="{{ MEDIA_URL }}images/legend_school.png" width="16" height="16" /> a public school that serves the standard school lunch</li>
        <li><img src="{{ MEDIA_URL }}images/legend_gtc.png" width="16" height="16" /> participates in <a href="http://growtolearn.org/view/DP5619">Garden to Cafe</a></li>
        <li><img src="{{ MEDIA_URL }}images/legend_wits.png" width="16" height="16" /> participates in <a href="http://www.wellnessintheschools.org/">Wellness in the Schools</a></li>
        <li><img src="{{ MEDIA_URL }}images/legend_gtc_wits.png" width="16" height="16" /> participates in <a href="http://growtolearn.org/view/DP5619">Garden to Cafe</a> and <a href="http://www.wellnessintheschools.org/">Wellness in the Schools</a></li>
    </ul>
</div>
{% endblock %}
