{% extends "schools/base.html" %}

{% block title %}{{ school.name.title }} | Delete Organizer{% endblock %}
{% block header_title %}{{ school.name.title }}{% endblock %}
{% block page_id %}organizer-delete{% endblock %}

{% block content %}
<h1>Delete organizer</h1>
<div>
    Are you sure you want to delete this organizer?
    <form action="" method="post">
        <table>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Delete" />
    </form>
</div>
{% endblock %}
