{% extends "schools/base.html" %}

{% block title %}{{ school.name.title }} | Add Organizer{% endblock %}
{% block header_title %}{{ school.name.title }}{% endblock %}
{% block page_id %}organizer-add{% endblock %}

{% block content %}
<h1>Add organizer</h1>
<div>
    <form action="" method="post">
        <table>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}
